<section  class="min-h-[92vh] mt-[10vh] bg-[#002999] flex items-center justify-center text-white px-6 relative transition-all duration-500">
    <div class="bg-white z-10 font-bold text-xl p-4 rounded-t-full px-6 rounded-e-full absolute top-[15%] left-[30%] -translate-y-1/2 animate-bounce-slow">
        <span class="text-orange-500">Cloud-based </span>
        <span class="text-[#002999] underline underline-offset-2">POS</span>
    </div>
    <img src="zatca.png" alt="Hero Image" class="absolute bottom-10 left-10 w-36 h-auto object-cover z-10">
    <div class="absolute bottom-[15%] left-[25%] -translate-y-1/2 z-10 flex gap-4">
        <div class="bg-white z-10 font-bold text-xl p-4  px-6 rounded-full  animate-bounce-slow">
            <img src="stars.png" alt="Hero Image" class="w-auto h-10 rounded-2xl">
        </div>
        <div class="bg-white z-10 font-bold text-xl p-3 rounded-full  animate-bounce-slow flex items-center justify-center py-2">
            <img src="tables.png" alt="Hero Image" class="w-auto h-10 rounded-2xl">
        </div>
    </div>
    <div class="bg-transparent italic z-10  text-4xl p-4 rounded-t-full px-6 rounded-e-full absolute bottom-[10%] right-[10%] -translate-y-1/2 animate-bounce-slow">
        <span class="text-white font-light">Focus on What <br> you </span> 
        <span class="text-orange-500 font-medium underline underline-offset-2">love most.</span>
    </div>
    <div class="bg-white z-10 font-bold text-xl p-4 rounded-t-full px-6 rounded-e-full absolute top-[25%] right-[30%] -translate-y-1/2 animate-bounce-slow">
        <img src="food.png" alt="Hero Image" class="w-16 h-16 rounded-2xl">
    </div>
    <div class="text-orange-500 text-3xl font-semibold mb-2 absolute top-52 left-[15%] z-20">Powering <br> Tomorrow's</div>
  <div class="text-center max-w-3xl z-10">
    <h1 class="text-6xl md:text-[14rem] font-extrabold text-center absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
      {{ currentWord }}
      <span class="border-r-2 border-white ml-1 animate-pulse"></span>
    </h1>
</div>
<div class="flex justify-center gap-4 mt-8 absolute -bottom-5">
  <button class="bg-orange-500 text-[#002999] font-semibold px-6 py-2 rounded-full">
    Get a Demo
  </button>
  <button class="bg-orange-500 text-[#002999] font-semibold px-6 py-2 rounded-full ">
    See Pricing
  </button>
</div>
  <div [ngStyle]="backgroundStyle" class="bg-cover bg-center h-[85svh] w-[30svw] absolute left-1/2 -translate-1/2 rounded-full top-1/2  "></div>

</section>
