<app-navbar></app-navbar>
<section class="mt-32 responsive-margin px-4 sm:px-6 pt-16  text-[#002999]">
    <div class="max-w-7xl mx-auto text-center space-y-4 sm:space-y-6">

        <h1 class="text-3xl sm:text-4xl md:text-5xl font-black">
            {{ 'demo.title' | translate }}
        </h1>
        <p class="text-lg sm:text-xl md:text-2xl text-gray-700 max-w-5xl font-semibold my-6 sm:my-12 mx-auto">
            {{ 'demo.subtitle' | translate }}
        </p>
    </div>


</section>

<section class="my-auto md:min-h-[100vh]  flex items-center ">
    <app-demo-form></app-demo-form>
</section>
<section class=" md:mt-12">
    <app-footer></app-footer>
</section>

