<div class="relative py-20">
  <!-- Timeline container -->
  <div class="max-w-7xl mx-auto px-4">
    
    <!-- Horizontal line with arrows -->
    <div class="absolute left-0 right-0 top-1/2 transform -translate-y-1/2 flex items-center px-4">
      <div class="w-10 h-10 flex items-center justify-center text-gray-400">
        <span class="material-icons text-3xl">arrow_back</span>
      </div>
      <div class="flex-1 h-[2px] bg-gray-300 relative mx-2">
        <!-- Connection dots positioned at specific points -->
       
      </div>
      <div class="w-10 h-10 flex items-center justify-center text-gray-400">
        <span class="material-icons text-3xl">arrow_forward</span>
      </div>
    </div>

    <!-- Events positioned absolutely -->
    <div class="relative" style="height: 450px;">
      
      <!-- Event 1 - Top Left -->
      <div class="absolute left-[10%] transform -translate-x-1/2" style="top: 0px;">
        <div class="flex flex-col items-center">
          <div class="text-center mb-6 w-[200px]">
            <h3 class="text-lg font-bold text-[#002999] mb-2">
              {{ events[0].titleKey | translate }}
            </h3>
            <p class="text-sm text-gray-600">
              {{ events[0].descriptionKey | translate }}
            </p>
          </div>
          <!-- Pin shape -->
          <div class="relative">
            <div class="w-20 h-20 rounded-full bg-[#002999] border-4 border-white shadow-lg flex items-center justify-center relative z-10">
              <span class="material-icons text-4xl text-[#f48021]">
                {{ events[0].icon }}
              </span>
            </div>
            <!-- Pin bottom triangle touching the line -->
            <div class="absolute left-1/2 transform -translate-x-1/2 top-full w-0 h-0 
                        border-l-[15px] border-l-transparent
                        border-r-[15px] border-r-transparent
                        border-t-[18px] border-t-[#002999]"></div>
          </div>
        </div>
      </div>

      <!-- Event 2 - Bottom -->
      <div class="absolute left-[30%] transform -translate-x-1/2" style="bottom: 0px;">
        <div class="flex flex-col items-center">
          <!-- Pin shape -->
          <div class="relative">
            <!-- Pin top triangle touching the line -->
            <div class="absolute left-1/2 transform -translate-x-1/2 bottom-full w-0 h-0 
                        border-l-[15px] border-l-transparent
                        border-r-[15px] border-r-transparent
                        border-b-[18px] border-b-[#f48021]"></div>
            <div class="w-20 h-20 rounded-full bg-[#f48021] border-4 border-white shadow-lg flex items-center justify-center relative z-10">
              <span class="material-icons text-4xl text-[#002999]">
                {{ bottomEvents[0].icon }}
              </span>
            </div>
          </div>
          <div class="text-center mt-6 w-[200px]">
            <h3 class="text-lg font-bold text-[#002999] mb-2">
              {{ bottomEvents[0].titleKey | translate }}
            </h3>
            <p class="text-sm text-gray-600">
              {{ bottomEvents[0].descriptionKey | translate }}
            </p>
          </div>
        </div>
      </div>

      <!-- Event 3 - Top Center -->
      <div class="absolute left-[50%] transform -translate-x-1/2" style="top: -20px;">
        <div class="flex flex-col items-center">
          <div class="text-center mb-6 w-[200px]">
            <h3 class="text-lg font-bold text-[#002999] mb-2">
              {{ events[1].titleKey | translate }}
            </h3>
            <p class="text-sm text-gray-600">
              {{ events[1].descriptionKey | translate }}
            </p>
          </div>
          <!-- Pin shape -->
          <div class="relative">
            <div class="w-20 h-20 rounded-full bg-[#002999] border-4 border-white shadow-lg flex items-center justify-center relative z-10">
              <span class="material-icons text-4xl text-[#f48021]">
                {{ events[1].icon }}
              </span>
            </div>
            <!-- Pin bottom triangle touching the line -->
            <div class="absolute left-1/2 transform -translate-x-1/2 top-full w-0 h-0 
                        border-l-[15px] border-l-transparent
                        border-r-[15px] border-r-transparent
                        border-t-[18px] border-t-[#002999]"></div>
          </div>
        </div>
      </div>

      <!-- Event 4 - Bottom Right -->
      <div class="absolute left-[70%] transform -translate-x-1/2" style="bottom: -40px;">
        <div class="flex flex-col items-center">
          <!-- Pin shape -->
          <div class="relative">
            <!-- Pin top triangle touching the line -->
            <div class="absolute left-1/2 transform -translate-x-1/2 bottom-full w-0 h-0 
                        border-l-[15px] border-l-transparent
                        border-r-[15px] border-r-transparent
                        border-b-[18px] border-b-[#f48021]"></div>
            <div class="w-20 h-20 rounded-full bg-[#f48021] border-4 border-white shadow-lg flex items-center justify-center relative z-10">
              <span class="material-icons text-4xl text-[#002999]">
                {{ bottomEvents[1].icon }}
              </span>
            </div>
          </div>
          <div class="text-center mt-6 w-[200px]">
            <h3 class="text-lg font-bold text-[#002999] mb-2">
              {{ bottomEvents[1].titleKey | translate }}
            </h3>
            <p class="text-sm text-gray-600">
              {{ bottomEvents[1].descriptionKey | translate }}
            </p>
          </div>
        </div>
      </div>

      <!-- Event 5 - Top Right -->
      <div class="absolute left-[90%] transform -translate-x-1/2" style="top: 0px;">
        <div class="flex flex-col items-center">
          <div class="text-center mb-6 w-[200px]">
            <h3 class="text-lg font-bold text-[#002999] mb-2">
              {{ events[2].titleKey | translate }}
            </h3>
            <p class="text-sm text-gray-600">
              {{ events[2].descriptionKey | translate }}
            </p>
          </div>
          <!-- Pin shape -->
          <div class="relative">
            <div class="w-20 h-20 rounded-full bg-[#002999] border-4 border-white shadow-lg flex items-center justify-center relative z-10">
              <span class="material-icons text-4xl text-[#f48021]">
                {{ events[2].icon }}
              </span>
            </div>
            <!-- Pin bottom triangle touching the line -->
            <div class="absolute left-1/2 transform -translate-x-1/2 top-full w-0 h-0 
                        border-l-[15px] border-l-transparent
                        border-r-[15px] border-r-transparent
                        border-t-[18px] border-t-[#002999]"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
