@media (resolution: 120dpi) {
  .py-16.px-4.md\:px-56 {
    padding-left: 4.5rem !important; /* px-18 equivalent */
    padding-right: 4.5rem !important;
    width: 85% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media (resolution: 144dpi) {
  .py-16.px-4.md\:px-56 {
    padding-left: 4.5rem !important; /* px-18 equivalent */
    padding-right: 4.5rem !important;
    width: 85% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
