<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<main class="main">
  <app-navbar></app-navbar>
  <app-hero></app-hero>

  <section>
    <h2 class="text-center text-[#002999] mt-24 mb-8 font-bold tracking-tight text-5xl">Built for Modern Businesses. <br> Trusted by Growing Ones.</h2>
    <p class="text-center text-gray-600 text-2xl tracking-wider">DigiPOS is a next-generation Point of Sale system <br> tailored for restaurants retail, food service, and <br> service-based businesses.</p>
    <p class="text-center font-bold text-orange-500 underline underline-offset-2 cursor-pointer my-5 text-xl ">Learn More</p>
    <img src="products.png" alt="Hero Image" class="w-[85%] h-auto object-cover mx-auto">
  </section>
</main>

<router-outlet />
