<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<main class="main">
  <app-navbar></app-navbar>
  <app-hero></app-hero>

  <section>
    <h2 class="text-center text-[#002999] mt-24 mb-8 font-bold tracking-tight text-3xl md:text-5xl">Built for Modern Businesses.
      <br> Trusted by Growing Ones.
    </h2>
    <p class="text-center text-gray-600 text-lg md:text-2xl tracking-wider">DigiPOS is a next-generation Point of Sale system <br>
      tailored for restaurants retail, food service, and <br> service-based businesses.</p>
    <p class="text-center font-bold text-orange-500 underline underline-offset-2 cursor-pointer my-5 text-base md:text-xl ">Learn
      More</p>
    <img src="/02 Tablet Screen Mockup copy.png" alt="Hero Image" class="w-[75%] h-auto object-cover mx-auto">
    <app-marquee></app-marquee>
  </section>

  <div class="section">
    <h2 class="text-center text-[#002999] mt-16 md:mt-24 mb-8 font-bold tracking-tight text-3xl md:text-5xl">Powering the Future of <br>
      Restaurant Management</h2>
    <p class="mx-auto text-center px-4 md:p-0 md:w-2/5 text-gray-600 text-base md:text-2xl tracking-wider">From local cafés to global F&B chains, businesses trust
      on DigiPOS to  streamline every aspect of their operations. With our all-in-one  cloud-based POS and
      restaurant management system, handling orders, payments, and inventory has never been easier.</p>
    <app-image-marquee></app-image-marquee>
  </div>

  <section
    class="my-10 relative bg-no-repeat bg-cover w-screen h-[80svh] bg-image">
    <div class="absolute inset-0 bg-black/40 bg-opacity-40"></div>
    <div class="relative z-10  h-full flex items-center justify-center">
      <app-digi-pos-sections></app-digi-pos-sections>
      <!-- Content goes here -->
    </div>
    <div class="w-full h-full inset-1 bg-black/25 absolute"></div>
  </section>

  <div class="section pb-20">
    <h2 class="text-center text-[#002999] mt-24 mb-8 font-bold tracking-tight text-5xl">Connect. Control. Grow.</h2>
    <p class="text-center text-gray-600 text-2xl tracking-wider">DigiPOS provides an integrated retail solution with
      efficient front office <br>
      sales tools, powerful back office management, and reliable retail <br>
      hardware and software - designed to streamline operations and <br>

      enhance the customer experience.</p>
    <app-office-sections></app-office-sections>
  </div>


  <div class="section">
    <h2 class="text-center text-[#002999] my-6 font-bold tracking-tight text-5xl">Powering the Future of <br>
      Restaurant Management</h2>
    <p class="text-center text-gray-600 text-2xl tracking-wider">From local cafés to global F&B chains, businesses trust
      on DigiPOS to <br> streamline every aspect of their operations. With our all-in-one <br> cloud-based POS and
      restaurant management system, handling orders, <br> payments, and inventory has never been easier.</p>
    <app-integrations-marquee></app-integrations-marquee>
  </div>

  <div class="section">
    <h2 class="text-center text-[#002999] mt-24 mb-8 font-bold tracking-tight text-5xl">Discover How digiPOS Helps <br>
      Their Businesses Thrive</h2>
    <p class="text-center text-gray-600 text-2xl tracking-wider">We take pride in providing exceptional point-of-sale
      solutions that <br>
      empower businesses to grow and streamline their operations. But <br>
      don’t just take our word for it! Here’s what our clients have to say <br>

      about their experience with our system.</p>
    <app-testimonials></app-testimonials>
  </div>
  <section>
    <app-platforms></app-platforms>
  </section>

  <section>

    <app-contact-form></app-contact-form>
    <!-- </div> -->
  </section>

  <app-footer></app-footer>
</main>

<router-outlet />