<div class="relative overflow-hidden w-full bg-white py-2 -mt-4">
    <!-- Edge fade effect -->
     <div class="edge-fade-left"></div>
  <div class="edge-fade-right"></div>

    <!-- Scrolling content -->
    <div class="animate-marquee whitespace-nowrap flex gap-10 opacity-75">
      <div *ngFor="let item of items" class="flex rtl:flex-row-reverse items-center gap-0 md:gap-2 text-gray-700 font-bold text-base md:text-2xl">
        <span class="text-[#f48021]">✓</span>
  {{ item | translate }}
      </div>
  
      <!-- Repeat for infinite loop effect -->
      <div *ngFor="let item of items" class="flex rtl:flex-row-reverse items-center gap-0 md:gap-2 text-gray-700 font-bold text-base md:text-2xl">
        <span class="text-[#f48021]">✓</span>
        {{ item | translate }}  
      </div>
      <div *ngFor="let item of items" class="flex rtl:flex-row-reverse items-center gap-0 md:gap-2 text-gray-700 font-bold text-base md:text-2xl">
        <span class="text-[#f48021]">✓</span>
        {{ item | translate }}  
      </div>
      <div *ngFor="let item of items" class="flex rtl:flex-row-reverse items-center gap-0 md:gap-2 text-gray-700 font-bold text-base md:text-2xl">
        <span class="text-[#f48021]">✓</span>
        {{ item | translate }}  
      </div>
      <div *ngFor="let item of items" class="flex rtl:flex-row-reverse items-center gap-0 md:gap-2 text-gray-700 font-bold text-base md:text-2xl">
        <span class="text-[#f48021]">✓</span>
        {{ item | translate }}  
      </div>
      <div *ngFor="let item of items" class="flex rtl:flex-row-reverse items-center gap-0 md:gap-2 text-gray-700 font-bold text-base md:text-2xl">
        <span class="text-[#f48021]">✓</span>
        {{ item | translate }}  
      </div>
    </div>
  </div>
  